#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: black url("./assets/bg.gif") center center / cover no-repeat;
  background-attachment: fixed;
  color: white;
  display: grid;
  place-content: center;
  margin: 0;
  font-size: 18px;
}

body:before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}

body>* {
  position: relative;
  z-index: 1;
}

.osrs-fields-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(150, 150, 150, 0.1);
  border-color: rgba(150, 150, 150, 0.3);
  margin-bottom: 2rem;
  width: 100%;
  max-width: 500px !important;
  margin: auto;
}

.osrs-fields-group-wrapper {
  padding: 2rem;
}

input {
  background-color: rgba(219, 219, 219, 0.2);
  border: 1px solid rgba(150, 150, 150, 0.2);
  padding: 1rem;
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
}

input:focus {
  border: 1px solid rgba(150, 150, 150, 0.4);
  outline: 1px solid blue;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.55);
}

.player-card {
  background-color: rgba(150, 150, 150, 0.1);
  border-color: rgba(150, 150, 150, 0.3);
  border-radius: 1rem;
  width: max-content;
  padding: 0.5rem 1rem;
  line-height: 1;
  font-size: 1rem;
  text-align: left;
  transform-origin: center;
  position: relative;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.player-stats {
  border-collapse: collapse;
}

.player-stat-row {
  border-bottom: 1px solid rgba(150, 150, 150, 0.2);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  height: 23px;
}

.player-stat-col {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-stat-icon {
  width: 2rem;
  height: 2rem;
  clip-path: circle(30% at 50% 50%);
  transform: scale(1.1);
}

.players-grid {
  /* display: flex;
  flex-wrap: wrap;
  width: 100%; */
  display: flex;
  gap: 2rem;
}

.tie {
  color: orange;
}

.best {
  color: green;
  font-weight: bold;
}

.worst {
  color: red;
}

.search-btn {
  background-color: rgba(214, 133, 41, 0.8);
}

.reset-btn {
  color: red;
  background-color: rgba(56, 8, 8, 0.5);
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 250px !important;
}

.swiper-wrapper {
  padding: 1rem;
}


.crown {
  fill: yellow;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.player-card.winner:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  mix-blend-mode: lighten;
  left: 0;
  top: 0;
  pointer-events: none;
  right: 0;
  border-radius: 1rem;
  opacity: 0.3;
  box-shadow: 0px 0px 5px yellow;
  background: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExNGIxNzVmNGEyNDE3MjYzNDZhYzM5NTI5N2IyZGMxOWM5YWEyN2YwOCZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/3ohs4ucXR6NYRxmpTa/giphy.gif") center center / cover no-repeat;
}

.player-card.winner .crown {
  opacity: 1;
}

.winner-revealed .player-card:not(.winner) {
  transform: translateY(2rem) scale(0.9);
}


.swiper {
  /* overflow: visible !important; */
}