#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  background: black url("./assets/bg.gif") center center / cover no-repeat;
  background-attachment: fixed;
  color: white;
  display: grid;
  place-content: center;
  margin: 0;
}
body:before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}
body > * {
  position: relative;
  z-index: 1;
}
.osrs-fields-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(150, 150, 150, 0.1);
  border-color: rgba(150, 150, 150, 0.3);
  margin-bottom: 2rem;
}
input {
  background-color: rgba(150, 150, 150, 0.2);
  border: 1px solid rgba(150, 150, 150, 0.2);
  padding: 1rem;
  border-radius: 0.25rem;
}
input:focus {
  border: 1px solid rgba(150, 150, 150, 0.4);
  outline: 1px solid blue;
}

.player-card {
  background-color: rgba(150, 150, 150, 0.1);
  border-color: rgba(150, 150, 150, 0.3);
  border-radius: 1rem;
  width: max-content;
  padding: 0.5rem 1rem;
  line-height: 1;
  font-size: 1rem;
  text-align: left;
}
.player-stats {
  border-collapse: collapse;
}
.player-stat-row {
  border-bottom: 1px solid rgba(150, 150, 150, 0.2);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  height: 23px;
}
.player-stat-col {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player-stat-icon {
  width: 2rem;
  height: 2rem;
  clip-path: circle(30% at 50% 50%);
  transform: scale(1.1);
}
.players-grid {
  /* display: flex;
  flex-wrap: wrap;
  width: 100%; */
  display: flex;
  gap: 2rem;
}

.tie {
  color: orange;
}
.best {
  color: green;
  font-weight: bold;
}
.worst {
  color: red;
}
